data/
results/
runs/
models/**/*.pt
__pycache__/
src/
.env
*.zip
.ipynb_checkpoints/
etc.ipynb
*.csv
.pt
main.py

# JSON 관련 설정: 전체 차단 후 config.json만 허용
*.json
!config.json

# ONNX 관련 설정: 전체 차단
*.onnx
